    <nav id="navBar" class="navbar navbar-expand-md navbar fixed-top">
    <a class="navbar-brand" href="#">Investisseurs.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" wfd-id="11">
      <span class="navbar-toggler-icon" wfd-id="8"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse" wfd-id="1">
      <ul class="navbar-nav mr-auto" wfd-id="3">
        <li class="nav-item active" wfd-id="6">
          <a class="nav-link" href="#">Home <span class="sr-only" wfd-id="7">(current)</span></a>
        </li>
        <li class="nav-item" wfd-id="5">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item" wfd-id="4">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
     <a id="connexion" class="btn btn-primary" href="/signIn.html" role="button">Connexion</a>
    </div>
  </nav>


  <div id="calque"></div>
  <div id="backgroundScreen">
    <div id="contentBackgroundScreen">
      <p>Oui mais pas n'importe comment!</p>
    </div>
  </div>
